<div class="page-header">
    <h1>New suggestion</h1>
</div>

<% form_for(suggestion, {action: path_to.suggestions(), method: 'POST', id: "suggestion_form", class: 'form-horizontal'}, function (form) { %>
    <%- partial('suggestions/form.ejs', {locals: {form: form, suggestion: suggestion}}) %>
    <div class="form-actions">
        <%- form.submit('<i class="icon-ok icon-white"></i> Create suggestion', {class: 'btn btn-primary'}) %> or
        <%- link_to('Cancel', path_to.suggestions(), {class: 'btn'}) %>
    </div>
<% });%>
